@import "bootstrap/mixins/vendor-prefixes";

$font-color: #000;
$font-family: "Arial";

$body-background: #4A84B1;

/** menu **/


$menu-color-1: #2d5b1d;
$menu-color-2: #9bbc4b;
$menu-color-3: #f9e139;
$menu-color-4: #f58c31;
$menu-color-5: #eb0000;
$menu-color-6: #2d5b1d;
$menu-color-7: #A0C7E9;
$menu-color-8: #75a911;


body {
  color: $font-color;
  font-family: $font-family;
  background: $body-background url(../imgs/bg.png) repeat-x;
}

header {
  background: #FFF;
  border-bottom: 1px solid #FFF;
}

footer {
  background: #F7F7F7 url(../imgs/footer.png) repeat-x bottom center;
  font-size: 0.8em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      line-height: 30px;
    }

    a {
      color:#000;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color:#000;
      }
    }
    ul {
      border-top:1px solid #aaa;
      height: 75px;

      li {
        line-height: 16px;
        border-left: 5px solid red;
        padding-left: 5px;
        height: 30px;
        color: #000;
        position: relative;
        width: 100%;

        &.c1 {border-left-color: $menu-color-4;}
        &.c2 {border-left-color: $menu-color-1;}
        &.c3 {border-left-color: $menu-color-7;}
        &.c4 {border-left-color: $menu-color-3}

        &:after {
          height: 45px;
          content: ' ';
          position: absolute;
          top: -11px;
          right: -17px;
          border-right: 1px dotted #aaa;
        }
      }
    }
  }
}

/** Basic **/
h1 {
  color: #A0C7E9;
  font-size: 1.4em;
}

p {
  padding: 5px 0;
  text-align: justify;
  line-height: 19px;
  font-size: 0.9em;
}


/** fixes **/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.greyBg {
  background-color: #f7f7f7;
}

.whiteBg {
  background-color: white;
}


/** menu **/

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.nav.navbar-nav {
  > li {
    border-top: 5px solid red;
    border-right: 1px solid white;
    border-left: 1px solid white;

    a {
      color: #000;
      font-size: 0.9em;
      border-right: 1px solid #efefef;
      padding: 10px 13px;
    }

    .dropdown-menu {
      box-shadow: none;
      border:2px solid black;
    }

    &.c0 {
      border-top-color: $menu-color-7;
      background-color: $menu-color-7;
      a {
        font-size: 1.8em;
        color: white;
      }
    }

    &.c1 {
      border-top-color: $menu-color-1;
      .dropdown-menu {
        border-color: $menu-color-1
      }
    }
    &.c2 {
      border-top-color: $menu-color-2;
      .dropdown-menu {
        border-color: $menu-color-2
      }
    }
    &.c3 {
      border-top-color: $menu-color-3;
      .dropdown-menu {
        border-color: $menu-color-3
      }
    }
    &.c4 {
      border-top-color: $menu-color-4;
      .dropdown-menu {
        border-color: $menu-color-4
      }
    }
    &.c5 {
      border-top-color: $menu-color-5;
      .dropdown-menu {
        border-color: $menu-color-5
      }
    }
    &.c6 {
      border-top-color: $menu-color-6;
      .dropdown-menu {
        border-color: $menu-color-6
      }
    }
    &.c7 {
      border-top-color: $menu-color-7;
      .dropdown-menu {
        border-color: $menu-color-7
      }

      a {
        font-size: 1.8em;
        color: black;
      }
    }
    &.c8 {
      border-top-color: $menu-color-8;
      .dropdown-menu {
        border-color: $menu-color-8
      }

      a {
        font-size: 1.8em;
        color: black;
      }
    }

  }

  > .open.c1 > a, > .open.c1 > a:hover,  > .open.c1 > a:focus {background-color: $menu-color-1; color: #fff;}
  > .open.c2 > a, > .open.c2 > a:hover,  > .open.c2 > a:focus {background-color: $menu-color-2; color: #fff;}
  > .open.c3 > a, > .open.c3 > a:hover,  > .open.c3 > a:focus {background-color: $menu-color-3; color: #fff;}
  > .open.c4 > a, > .open.c4 > a:hover,  > .open.c4 > a:focus {background-color: $menu-color-4; color: #fff;}
  > .open.c5 > a, > .open.c5 > a:hover,  > .open.c5 > a:focus {background-color: $menu-color-5; color: #fff;}
  > .open.c6 > a, > .open.c6 > a:hover,  > .open.c6 > a:focus {background-color: $menu-color-6; color: #fff;}
  > .open.c7 > a, > .open.c7 > a:hover,  > .open.c7 > a:focus {background-color: $menu-color-7; color: #fff;}
  > .open.c8 > a, > .open.c8 > a:hover,  > .open.c8 > a:focus {background-color: $menu-color-8; color: #fff;}
}

@import "_panels";
