/** menu **/
/* line 21, ../sass/style.scss */
body {
  color: black;
  font-family: "Arial";
  background: #4a84b1 url(../imgs/bg.png) repeat-x;
}

/* line 27, ../sass/style.scss */
header {
  background: #FFF;
  border-bottom: 1px solid #FFF;
}

/* line 32, ../sass/style.scss */
footer {
  background: #f7f7f7 url(../imgs/footer.png) repeat-x bottom center;
  font-size: 0.8em;
}
/* line 35, ../sass/style.scss */
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 40, ../sass/style.scss */
footer ul > li {
  line-height: 30px;
}
/* line 44, ../sass/style.scss */
footer ul a {
  color: #000;
  text-decoration: none;
}
/* line 48, ../sass/style.scss */
footer ul a:hover {
  text-decoration: none;
  color: #000;
}
/* line 53, ../sass/style.scss */
footer ul ul {
  border-top: 1px solid #aaa;
  height: 75px;
}
/* line 57, ../sass/style.scss */
footer ul ul li {
  line-height: 16px;
  border-left: 5px solid red;
  padding-left: 5px;
  height: 30px;
  color: #000;
  position: relative;
  width: 100%;
}
/* line 66, ../sass/style.scss */
footer ul ul li.c1 {
  border-left-color: #f58c31;
}
/* line 67, ../sass/style.scss */
footer ul ul li.c2 {
  border-left-color: #2d5b1d;
}
/* line 68, ../sass/style.scss */
footer ul ul li.c3 {
  border-left-color: #a0c7e9;
}
/* line 69, ../sass/style.scss */
footer ul ul li.c4 {
  border-left-color: #f9e139;
}
/* line 71, ../sass/style.scss */
footer ul ul li:after {
  height: 45px;
  content: ' ';
  position: absolute;
  top: -11px;
  right: -17px;
  border-right: 1px dotted #aaa;
}

/** Basic **/
/* line 85, ../sass/style.scss */
h1 {
  color: #A0C7E9;
  font-size: 1.4em;
}

/* line 90, ../sass/style.scss */
p {
  padding: 5px 0;
  text-align: justify;
  line-height: 19px;
  font-size: 0.9em;
}

/** fixes **/
/* line 99, ../sass/style.scss */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* line 105, ../sass/style.scss */
.greyBg {
  background-color: #f7f7f7;
}

/* line 109, ../sass/style.scss */
.whiteBg {
  background-color: white;
}

/** menu **/
/* line 116, ../sass/style.scss */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

/* line 122, ../sass/style.scss */
.nav.navbar-nav > li {
  border-top: 5px solid red;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
/* line 127, ../sass/style.scss */
.nav.navbar-nav > li a {
  color: #000;
  font-size: 0.9em;
  border-right: 1px solid #efefef;
  padding: 10px 13px;
}
/* line 134, ../sass/style.scss */
.nav.navbar-nav > li .dropdown-menu {
  box-shadow: none;
  border: 2px solid black;
}
/* line 139, ../sass/style.scss */
.nav.navbar-nav > li.c0 {
  border-top-color: #a0c7e9;
  background-color: #a0c7e9;
}
/* line 142, ../sass/style.scss */
.nav.navbar-nav > li.c0 a {
  font-size: 1.8em;
  color: white;
}
/* line 148, ../sass/style.scss */
.nav.navbar-nav > li.c1 {
  border-top-color: #2d5b1d;
}
/* line 150, ../sass/style.scss */
.nav.navbar-nav > li.c1 .dropdown-menu {
  border-color: #2d5b1d;
}
/* line 154, ../sass/style.scss */
.nav.navbar-nav > li.c2 {
  border-top-color: #9bbc4b;
}
/* line 156, ../sass/style.scss */
.nav.navbar-nav > li.c2 .dropdown-menu {
  border-color: #9bbc4b;
}
/* line 160, ../sass/style.scss */
.nav.navbar-nav > li.c3 {
  border-top-color: #f9e139;
}
/* line 162, ../sass/style.scss */
.nav.navbar-nav > li.c3 .dropdown-menu {
  border-color: #f9e139;
}
/* line 166, ../sass/style.scss */
.nav.navbar-nav > li.c4 {
  border-top-color: #f58c31;
}
/* line 168, ../sass/style.scss */
.nav.navbar-nav > li.c4 .dropdown-menu {
  border-color: #f58c31;
}
/* line 172, ../sass/style.scss */
.nav.navbar-nav > li.c5 {
  border-top-color: #eb0000;
}
/* line 174, ../sass/style.scss */
.nav.navbar-nav > li.c5 .dropdown-menu {
  border-color: #eb0000;
}
/* line 178, ../sass/style.scss */
.nav.navbar-nav > li.c6 {
  border-top-color: #2d5b1d;
}
/* line 180, ../sass/style.scss */
.nav.navbar-nav > li.c6 .dropdown-menu {
  border-color: #2d5b1d;
}
/* line 184, ../sass/style.scss */
.nav.navbar-nav > li.c7 {
  border-top-color: #a0c7e9;
}
/* line 186, ../sass/style.scss */
.nav.navbar-nav > li.c7 .dropdown-menu {
  border-color: #a0c7e9;
}
/* line 190, ../sass/style.scss */
.nav.navbar-nav > li.c7 a {
  font-size: 1.8em;
  color: black;
}
/* line 195, ../sass/style.scss */
.nav.navbar-nav > li.c8 {
  border-top-color: #75a911;
}
/* line 197, ../sass/style.scss */
.nav.navbar-nav > li.c8 .dropdown-menu {
  border-color: #75a911;
}
/* line 201, ../sass/style.scss */
.nav.navbar-nav > li.c8 a {
  font-size: 1.8em;
  color: black;
}
/* line 209, ../sass/style.scss */
.nav.navbar-nav > .open.c1 > a, .nav.navbar-nav > .open.c1 > a:hover, .nav.navbar-nav > .open.c1 > a:focus {
  background-color: #2d5b1d;
  color: #fff;
}
/* line 210, ../sass/style.scss */
.nav.navbar-nav > .open.c2 > a, .nav.navbar-nav > .open.c2 > a:hover, .nav.navbar-nav > .open.c2 > a:focus {
  background-color: #9bbc4b;
  color: #fff;
}
/* line 211, ../sass/style.scss */
.nav.navbar-nav > .open.c3 > a, .nav.navbar-nav > .open.c3 > a:hover, .nav.navbar-nav > .open.c3 > a:focus {
  background-color: #f9e139;
  color: #fff;
}
/* line 212, ../sass/style.scss */
.nav.navbar-nav > .open.c4 > a, .nav.navbar-nav > .open.c4 > a:hover, .nav.navbar-nav > .open.c4 > a:focus {
  background-color: #f58c31;
  color: #fff;
}
/* line 213, ../sass/style.scss */
.nav.navbar-nav > .open.c5 > a, .nav.navbar-nav > .open.c5 > a:hover, .nav.navbar-nav > .open.c5 > a:focus {
  background-color: #eb0000;
  color: #fff;
}
/* line 214, ../sass/style.scss */
.nav.navbar-nav > .open.c6 > a, .nav.navbar-nav > .open.c6 > a:hover, .nav.navbar-nav > .open.c6 > a:focus {
  background-color: #2d5b1d;
  color: #fff;
}
/* line 215, ../sass/style.scss */
.nav.navbar-nav > .open.c7 > a, .nav.navbar-nav > .open.c7 > a:hover, .nav.navbar-nav > .open.c7 > a:focus {
  background-color: #a0c7e9;
  color: #fff;
}
/* line 216, ../sass/style.scss */
.nav.navbar-nav > .open.c8 > a, .nav.navbar-nav > .open.c8 > a:hover, .nav.navbar-nav > .open.c8 > a:focus {
  background-color: #75a911;
  color: #fff;
}

/* line 2, ../sass/panels/_news_panel.scss */
.news_panel h2 {
  color: #000;
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 0;
}
/* line 9, ../sass/panels/_news_panel.scss */
.news_panel h3 {
  font-size: 1em;
  margin-bottom: 4px;
}
/* line 12, ../sass/panels/_news_panel.scss */
.news_panel h3 a {
  color: #A0C7E9;
  font-size: 1em;
  text-decoration: none;
}
/* line 19, ../sass/panels/_news_panel.scss */
.news_panel p {
  color: #000;
  font-size: 0.8em;
  text-align: justify;
  margin: 3px 0 5px;
}

/** Left Menu **/
/* line 2, ../sass/panels/_menu_panel.scss */
.left-menu {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 7, ../sass/panels/_menu_panel.scss */
.left-menu li {
  text-align: right;
  height: 30px;
  line-height: 1.8em;
  border-bottom: 1px solid #F7F7F7;
  position: relative;
  padding-right: 15px;
  -webkit-transition: 0.6s ease-in-out all;
  -o-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
}
/* line 16, ../sass/panels/_menu_panel.scss */
.left-menu li:hover {
  background-color: red;
}
/* line 18, ../sass/panels/_menu_panel.scss */
.left-menu li:hover a {
  color: #fff;
  text-decoration: none;
}
/* line 24, ../sass/panels/_menu_panel.scss */
.left-menu li:after {
  content: ' ';
  position: absolute;
  width: 10px;
  background: red;
  height: 29px;
  top: 0;
  right: 0px;
}
/* line 34, ../sass/panels/_menu_panel.scss */
.left-menu li a {
  color: #000;
  font-size: 0.9em;
  background-color: transparent;
  -webkit-transition: 0.6s ease-in-out color;
  -o-transition: 0.6s ease-in-out color;
  transition: 0.6s ease-in-out color;
}
/* line 41, ../sass/panels/_menu_panel.scss */
.left-menu li.c1:after {
  background: #2d5b1d;
}
/* line 42, ../sass/panels/_menu_panel.scss */
.left-menu li.c2:after {
  background: #9bbc4b;
}
/* line 43, ../sass/panels/_menu_panel.scss */
.left-menu li.c3:after {
  background: #f9e139;
}
/* line 44, ../sass/panels/_menu_panel.scss */
.left-menu li.c4:after {
  background: #f58c31;
}
/* line 45, ../sass/panels/_menu_panel.scss */
.left-menu li.c5:after {
  background: #eb0000;
}
/* line 46, ../sass/panels/_menu_panel.scss */
.left-menu li.c6:after {
  background: #2d5b1d;
}
/* line 48, ../sass/panels/_menu_panel.scss */
.left-menu li.c1:hover {
  background: #2d5b1d;
}
/* line 49, ../sass/panels/_menu_panel.scss */
.left-menu li.c2:hover {
  background: #9bbc4b;
}
/* line 50, ../sass/panels/_menu_panel.scss */
.left-menu li.c3:hover {
  background: #f9e139;
}
/* line 51, ../sass/panels/_menu_panel.scss */
.left-menu li.c4:hover {
  background: #f58c31;
}
/* line 52, ../sass/panels/_menu_panel.scss */
.left-menu li.c5:hover {
  background: #eb0000;
}
/* line 53, ../sass/panels/_menu_panel.scss */
.left-menu li.c6:hover {
  background: #2d5b1d;
}

/** Main Menu **/
/** Free menu **/
/* line 65, ../sass/panels/_menu_panel.scss */
.list-group .list-group-item {
  border: none;
  padding: 5px 10px;
  font-size: 0.9em;
}
/* line 70, ../sass/panels/_menu_panel.scss */
.list-group .list-group-item i {
  color: #adade1;
  margin-right: 5px;
}

/* line 1, ../sass/panels/_carousel_panel.scss */
.da-slider {
  width: 100%;
  height: 330px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: transparent url(../img/bg.jpg) repeat 0% 0%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px -2px 1px white;
  -webkit-transition: background-position 1.4s ease-in-out 0.3s;
  -moz-transition: background-position 1.4s ease-in-out 0.3s;
  -o-transition: background-position 1.4s ease-in-out 0.3s;
  -ms-transition: background-position 1.4s ease-in-out 0.3s;
  transition: background-position 1.4s ease-in-out 0.3s;
}

/* line 15, ../sass/panels/_carousel_panel.scss */
.da-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

/* line 24, ../sass/panels/_carousel_panel.scss */
.da-slide-current {
  z-index: 10;
}

/* line 27, ../sass/panels/_carousel_panel.scss */
.da-slider-fb .da-slide {
  left: 100%;
}

/* line 30, ../sass/panels/_carousel_panel.scss */
.da-slider-fb .da-slide.da-slide-current {
  left: 0px;
}

/* line 36, ../sass/panels/_carousel_panel.scss */
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img {
  position: absolute;
  opacity: 0;
  left: 110%;
}

/* line 43, ../sass/panels/_carousel_panel.scss */
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link {
  left: 10%;
  opacity: 1;
}

/* line 47, ../sass/panels/_carousel_panel.scss */
.da-slider-fb .da-slide .da-img {
  left: 60%;
  opacity: 1;
}

/* line 51, ../sass/panels/_carousel_panel.scss */
.da-slide h2 {
  font-family: 'Open Sans', sans-serif;
  color: #f9f9f9 !important;
  line-height: 50px;
  top: 100px;
  z-index: 10;
  padding: 0;
  margin-left: -2%;
  font-weight: 400 !important;
}

/* line 61, ../sass/panels/_carousel_panel.scss */
.da-slide h2 i {
  font-size: 36px;
  font-style: normal;
  padding: 0 5px;
  text-transform: uppercase;
  background-color: rgba(46, 98, 0, 0.8);
}

/* line 68, ../sass/panels/_carousel_panel.scss */
.da-slide p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  width: 100%;
  top: 300px;
  color: #fff;
  overflow: hidden;
  margin-left: -2%;
}

/* line 79, ../sass/panels/_carousel_panel.scss */
.da-slide p i {
  background: url(../img/bg-text.png) repeat;
  padding: 0 10px;
  font-style: normal;
}

/* line 84, ../sass/panels/_carousel_panel.scss */
.da-slide .da-img {
  text-align: center;
  width: 50%;
  top: 80px;
  height: 328px;
  line-height: 320px;
  left: 110%;
  /*60%*/
  margin-left: -16%;
}

/* line 93, ../sass/panels/_carousel_panel.scss */
.da-slide-current .da-img {
  left: 60%;
  opacity: 1;
}

/* line 98, ../sass/panels/_carousel_panel.scss */
.da-slide .da-link {
  top: 320px;
  /*depends on p height*/
  border-radius: 3px !important;
  min-width: 15%;
  color: #666;
  text-shadow: 0 1px 0 #eee;
  box-shadow: 0 0 4px #bbb;
  border: 1px solid #fff;
  padding: 2px 20px;
  font-size: 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}

/* line 111, ../sass/panels/_carousel_panel.scss */
.da-slide .da-link:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 5px #eee;
  text-decoration: none;
}

/* line 116, ../sass/panels/_carousel_panel.scss */
.da-dots {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 15px;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* line 126, ../sass/panels/_carousel_panel.scss */
.da-dots span {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  background: url(../img/bg-text.png) repeat;
  margin: 3px;
  cursor: pointer;
}

/* line 136, ../sass/panels/_carousel_panel.scss */
.da-dots span.da-dots-current:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50% !important;
  background: #fff;
}

/* line 146, ../sass/panels/_carousel_panel.scss */
.da-arrows {
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* line 150, ../sass/panels/_carousel_panel.scss */
.da-arrows span {
  background: transparent url(../img/arrows.png) no-repeat;
  position: absolute;
  top: 50%;
  height: 50px;
  width: 49px;
  margin-top: -25px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s;
  -ms-transition: opacity 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s;
}

/* line 166, ../sass/panels/_carousel_panel.scss */
.da-slider:hover .da-arrows span {
  opacity: 0.8;
}

/* line 169, ../sass/panels/_carousel_panel.scss */
.da-slider:hover .da-arrows span:hover {
  opacity: 1;
}

/* line 172, ../sass/panels/_carousel_panel.scss */
.da-arrows span:after {
  content: '';
  position: absolute;
  width: 49px;
  height: 49px;
}

/* line 178, ../sass/panels/_carousel_panel.scss */
.da-arrows span.da-arrows-prev {
  left: 12px;
  background-position: 0 -68px;
}

/* line 182, ../sass/panels/_carousel_panel.scss */
.da-arrows span.da-arrows-next {
  right: 15px;
  background-position: 0 1px;
}

/* line 189, ../sass/panels/_carousel_panel.scss */
.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link {
  left: 10%;
  opacity: 1;
}

/* Animation classes and animations */
/* Slide in from the right*/
/* line 198, ../sass/panels/_carousel_panel.scss */
.da-slide-fromright h2 {
  -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  animation: fromRightAnim1 0.6s ease-in 0.8s both;
}

/* line 205, ../sass/panels/_carousel_panel.scss */
.da-slide-fromright p {
  -webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  animation: fromRightAnim2 0.6s ease-in 0.8s both;
}

/* line 212, ../sass/panels/_carousel_panel.scss */
.da-slide-fromright .da-link {
  -webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  animation: fromRightAnim3 0.4s ease-in 1.2s both;
}

/* line 219, ../sass/panels/_carousel_panel.scss */
.da-slide-fromright .da-img {
  -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  animation: fromRightAnim4 0.6s ease-in 0.8s both;
}

@-webkit-keyframes fromRightAnim1 {
  /* line 227, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 228, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fromRightAnim2 {
  /* line 231, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 232, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fromRightAnim3 {
  /* line 235, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 236, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 237, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fromRightAnim4 {
  /* line 240, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 241, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@-moz-keyframes fromRightAnim1 {
  /* line 245, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 246, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-moz-keyframes fromRightAnim2 {
  /* line 249, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 250, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-moz-keyframes fromRightAnim3 {
  /* line 253, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 254, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 255, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-moz-keyframes fromRightAnim4 {
  /* line 258, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 259, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@-o-keyframes fromRightAnim1 {
  /* line 263, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 264, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-o-keyframes fromRightAnim2 {
  /* line 267, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 268, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-o-keyframes fromRightAnim3 {
  /* line 271, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 272, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 273, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-o-keyframes fromRightAnim4 {
  /* line 276, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 277, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@-ms-keyframes fromRightAnim1 {
  /* line 281, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 282, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-ms-keyframes fromRightAnim2 {
  /* line 285, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 286, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-ms-keyframes fromRightAnim3 {
  /* line 289, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 290, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 291, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-ms-keyframes fromRightAnim4 {
  /* line 294, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 295, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@keyframes fromRightAnim1 {
  /* line 299, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 300, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@keyframes fromRightAnim2 {
  /* line 303, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 304, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@keyframes fromRightAnim3 {
  /* line 307, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 308, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 309, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@keyframes fromRightAnim4 {
  /* line 312, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 110%;
    opacity: 0;
  }

  /* line 313, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

/* Slide in from the left*/
/* line 316, ../sass/panels/_carousel_panel.scss */
.da-slide-fromleft h2 {
  -webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}

/* line 323, ../sass/panels/_carousel_panel.scss */
.da-slide-fromleft p {
  -webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}

/* line 330, ../sass/panels/_carousel_panel.scss */
.da-slide-fromleft .da-link {
  -webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}

/* line 337, ../sass/panels/_carousel_panel.scss */
.da-slide-fromleft .da-img {
  -webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}

@-webkit-keyframes fromLeftAnim1 {
  /* line 345, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 346, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fromLeftAnim2 {
  /* line 349, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 350, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fromLeftAnim3 {
  /* line 353, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 354, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 355, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fromLeftAnim4 {
  /* line 358, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 359, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@-moz-keyframes fromLeftAnim1 {
  /* line 363, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 364, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-moz-keyframes fromLeftAnim2 {
  /* line 367, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 368, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-moz-keyframes fromLeftAnim3 {
  /* line 371, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 372, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 373, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-moz-keyframes fromLeftAnim4 {
  /* line 376, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 377, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@-o-keyframes fromLeftAnim1 {
  /* line 381, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 382, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-o-keyframes fromLeftAnim2 {
  /* line 385, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 386, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-o-keyframes fromLeftAnim3 {
  /* line 389, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 390, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 391, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-o-keyframes fromLeftAnim4 {
  /* line 394, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 395, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@-ms-keyframes fromLeftAnim1 {
  /* line 399, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 400, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-ms-keyframes fromLeftAnim2 {
  /* line 403, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 404, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-ms-keyframes fromLeftAnim3 {
  /* line 407, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 408, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 409, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@-ms-keyframes fromLeftAnim4 {
  /* line 412, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 413, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

@keyframes fromLeftAnim1 {
  /* line 417, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 418, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@keyframes fromLeftAnim2 {
  /* line 421, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 422, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@keyframes fromLeftAnim3 {
  /* line 425, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 426, ../sass/panels/_carousel_panel.scss */
  1% {
    left: 10%;
    opacity: 0;
  }

  /* line 427, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 10%;
    opacity: 1;
  }
}

@keyframes fromLeftAnim4 {
  /* line 430, ../sass/panels/_carousel_panel.scss */
  0% {
    left: -110%;
    opacity: 0;
  }

  /* line 431, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 60%;
    opacity: 1;
  }
}

/* Slide out to the right */
/* line 434, ../sass/panels/_carousel_panel.scss */
.da-slide-toright h2 {
  -webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -o-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
  animation: toRightAnim1 0.6s ease-in 0.6s both;
}

/* line 441, ../sass/panels/_carousel_panel.scss */
.da-slide-toright p {
  -webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -o-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
  animation: toRightAnim2 0.6s ease-in 0.3s both;
}

/* line 448, ../sass/panels/_carousel_panel.scss */
.da-slide-toright .da-link {
  -webkit-animation: toRightAnim3 0.4s ease-in both;
  -moz-animation: toRightAnim3 0.4s ease-in both;
  -o-animation: toRightAnim3 0.4s ease-in both;
  -ms-animation: toRightAnim3 0.4s ease-in both;
  animation: toRightAnim3 0.4s ease-in both;
}

/* line 455, ../sass/panels/_carousel_panel.scss */
.da-slide-toright .da-img {
  -webkit-animation: toRightAnim4 0.6s ease-in both;
  -moz-animation: toRightAnim4 0.6s ease-in both;
  -o-animation: toRightAnim4 0.6s ease-in both;
  -ms-animation: toRightAnim4 0.6s ease-in both;
  animation: toRightAnim4 0.6s ease-in both;
}

@-webkit-keyframes toRightAnim1 {
  /* line 463, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 464, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes toRightAnim2 {
  /* line 467, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 468, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes toRightAnim3 {
  /* line 471, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 472, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 473, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes toRightAnim4 {
  /* line 476, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 477, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 55%;
    opacity: 1;
  }

  /* line 478, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-moz-keyframes toRightAnim1 {
  /* line 482, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 483, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-moz-keyframes toRightAnim2 {
  /* line 486, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 487, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-moz-keyframes toRightAnim3 {
  /* line 490, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 491, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 492, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-moz-keyframes toRightAnim4 {
  /* line 495, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 496, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 55%;
    opacity: 1;
  }

  /* line 497, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-o-keyframes toRightAnim1 {
  /* line 501, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 502, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-o-keyframes toRightAnim2 {
  /* line 505, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 506, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-o-keyframes toRightAnim3 {
  /* line 509, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 510, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 511, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-o-keyframes toRightAnim4 {
  /* line 514, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 515, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 55%;
    opacity: 1;
  }

  /* line 516, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-ms-keyframes toRightAnim1 {
  /* line 520, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 521, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-ms-keyframes toRightAnim2 {
  /* line 524, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 525, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-ms-keyframes toRightAnim3 {
  /* line 528, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 529, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 530, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-ms-keyframes toRightAnim4 {
  /* line 533, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 534, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 55%;
    opacity: 1;
  }

  /* line 535, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes toRightAnim1 {
  /* line 539, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 540, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes toRightAnim2 {
  /* line 543, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 544, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes toRightAnim3 {
  /* line 547, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 548, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 549, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes toRightAnim4 {
  /* line 552, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 553, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 55%;
    opacity: 1;
  }

  /* line 554, ../sass/panels/_carousel_panel.scss */
  100% {
    left: 100%;
    opacity: 0;
  }
}

/* Slide out to the left*/
/* line 557, ../sass/panels/_carousel_panel.scss */
.da-slide-toleft h2 {
  -webkit-animation: toLeftAnim1 0.6s ease-in both;
  -moz-animation: toLeftAnim1 0.6s ease-in both;
  -o-animation: toLeftAnim1 0.6s ease-in both;
  -ms-animation: toLeftAnim1 0.6s ease-in both;
  animation: toLeftAnim1 0.6s ease-in both;
}

/* line 564, ../sass/panels/_carousel_panel.scss */
.da-slide-toleft p {
  -webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  animation: toLeftAnim2 0.6s ease-in 0.3s both;
}

/* line 571, ../sass/panels/_carousel_panel.scss */
.da-slide-toleft .da-link {
  -webkit-animation: toLeftAnim3 0.4s ease-in both;
  -moz-animation: toLeftAnim3 0.4s ease-in both;
  -o-animation: toLeftAnim3 0.4s ease-in both;
  -ms-animation: toLeftAnim3 0.4s ease-in both;
  animation: toLeftAnim3 0.4s ease-in both;
}

/* line 578, ../sass/panels/_carousel_panel.scss */
.da-slide-toleft .da-img {
  -webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  animation: toLeftAnim4 0.6s ease-in 0.6s both;
}

@-webkit-keyframes toLeftAnim1 {
  /* line 586, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 587, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 588, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-webkit-keyframes toLeftAnim2 {
  /* line 591, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 592, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 593, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-webkit-keyframes toLeftAnim3 {
  /* line 596, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 597, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 598, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-webkit-keyframes toLeftAnim4 {
  /* line 601, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 602, ../sass/panels/_carousel_panel.scss */
  40% {
    left: 70%;
    opacity: 1;
  }

  /* line 603, ../sass/panels/_carousel_panel.scss */
  90% {
    left: 0%;
    opacity: 0;
  }

  /* line 604, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-moz-keyframes toLeftAnim1 {
  /* line 608, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 609, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 610, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-moz-keyframes toLeftAnim2 {
  /* line 613, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 614, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 615, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-moz-keyframes toLeftAnim3 {
  /* line 618, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 619, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 620, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-moz-keyframes toLeftAnim4 {
  /* line 623, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 624, ../sass/panels/_carousel_panel.scss */
  40% {
    left: 70%;
    opacity: 1;
  }

  /* line 625, ../sass/panels/_carousel_panel.scss */
  90% {
    left: 0%;
    opacity: 0;
  }

  /* line 626, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-o-keyframes toLeftAnim1 {
  /* line 630, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 631, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 632, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-o-keyframes toLeftAnim2 {
  /* line 635, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 636, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 637, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-o-keyframes toLeftAnim3 {
  /* line 640, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 641, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 642, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-o-keyframes toLeftAnim4 {
  /* line 645, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 646, ../sass/panels/_carousel_panel.scss */
  40% {
    left: 70%;
    opacity: 1;
  }

  /* line 647, ../sass/panels/_carousel_panel.scss */
  90% {
    left: 0%;
    opacity: 0;
  }

  /* line 648, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-ms-keyframes toLeftAnim1 {
  /* line 652, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 653, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 654, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-ms-keyframes toLeftAnim2 {
  /* line 657, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 658, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 659, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-ms-keyframes toLeftAnim3 {
  /* line 662, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 663, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 664, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@-ms-keyframes toLeftAnim4 {
  /* line 667, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 668, ../sass/panels/_carousel_panel.scss */
  40% {
    left: 70%;
    opacity: 1;
  }

  /* line 669, ../sass/panels/_carousel_panel.scss */
  90% {
    left: 0%;
    opacity: 0;
  }

  /* line 670, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@keyframes toLeftAnim1 {
  /* line 674, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 675, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 676, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@keyframes toLeftAnim2 {
  /* line 679, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 680, ../sass/panels/_carousel_panel.scss */
  30% {
    left: 15%;
    opacity: 1;
  }

  /* line 681, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@keyframes toLeftAnim3 {
  /* line 684, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 10%;
    opacity: 1;
  }

  /* line 685, ../sass/panels/_carousel_panel.scss */
  99% {
    left: 10%;
    opacity: 0;
  }

  /* line 686, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

@keyframes toLeftAnim4 {
  /* line 689, ../sass/panels/_carousel_panel.scss */
  0% {
    left: 60%;
    opacity: 1;
  }

  /* line 690, ../sass/panels/_carousel_panel.scss */
  40% {
    left: 70%;
    opacity: 1;
  }

  /* line 691, ../sass/panels/_carousel_panel.scss */
  90% {
    left: 0%;
    opacity: 0;
  }

  /* line 692, ../sass/panels/_carousel_panel.scss */
  100% {
    left: -50%;
    opacity: 0;
  }
}

/*Higher Resolutions*/
@media (min-width: 1440px) {
  /* line 698, ../sass/panels/_carousel_panel.scss */
  .da-slide h2,
  .da-slide p {
    margin-left: 3%;
  }

  /* line 701, ../sass/panels/_carousel_panel.scss */
  .da-slide .da-img {
    margin-left: -18%;
  }
}
@media (min-width: 1680px) {
  /* line 708, ../sass/panels/_carousel_panel.scss */
  .da-slide h2,
  .da-slide p {
    margin-left: 7%;
  }

  /* line 711, ../sass/panels/_carousel_panel.scss */
  .da-slide .da-img {
    margin-left: -20%;
  }
}
@media (min-width: 1920px) {
  /* line 718, ../sass/panels/_carousel_panel.scss */
  .da-slide h2,
  .da-slide p {
    margin-left: 12%;
  }

  /* line 721, ../sass/panels/_carousel_panel.scss */
  .da-slide .da-img {
    margin-left: -22%;
  }
}
