@mixin make-padding() {
  $padding: 50;
  @while $padding >= 0 {
    .p-l-#{$padding} {
      padding-left: #{$padding}px;
    }
    .p-r-#{$padding} {
      padding-right: #{$padding}px;
    }
    .p-t-#{$padding} {
      padding-top: #{$padding}px;
    }
    .p-b-#{$padding} {
      padding-bottom: #{$padding}px;
    }
    .padding-#{$padding} {
      padding: #{$padding}px;
    }
    $padding: $padding - 5;
  }
}

@mixin make-margin() {
  $margin: 50;
  @while $margin >= 0 {
    .m-l-#{$margin} {
      margin-left: #{$margin}px;
    }
    .m-r-#{$margin} {
      margin-right: #{$margin}px;
    }
    .m-t-#{$margin} {
      margin-top: #{$margin}px;
    }
    .m-b-#{$margin} {
      margin-bottom: #{$margin}px;
    }
    .margin#{$margin} {
      margin: #{$margin}px;
    }
    $margin: $margin - 5;
  }
}