/** Left Menu **/
.left-menu {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    text-align: right;
    height: 30px;
    line-height: 1.8em;
    border-bottom: 1px solid #F7F7F7;
    position: relative;
    padding-right: 15px;
    @include transition(.6s ease-in-out all);

    &:hover {
      background-color: red;
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      width: 10px;
      background: red;
      height: 29px;
      top:0;
      right: 0px;
    }

    a {
      color: #000;
      font-size: 0.9em;
      background-color: transparent;
      @include transition(.6s ease-in-out color );
    }

    &.c1:after {background: $menu-color-1}
    &.c2:after {background: $menu-color-2}
    &.c3:after {background: $menu-color-3}
    &.c4:after {background: $menu-color-4}
    &.c5:after {background: $menu-color-5}
    &.c6:after {background: $menu-color-6}

    &.c1:hover {background: $menu-color-1}
    &.c2:hover {background: $menu-color-2}
    &.c3:hover {background: $menu-color-3}
    &.c4:hover {background: $menu-color-4}
    &.c5:hover {background: $menu-color-5}
    &.c6:hover {background: $menu-color-6}
  }
}




/** Main Menu **/


/** Free menu **/
.list-group {
  .list-group-item {
    border:none;
    padding: 5px 10px;
    font-size: 0.9em;

    i {
      color: #adade1;
      margin-right: 5px;
    }
  }
}