.news_panel {
  h2 {
    color: #000;
    font-size: 1.2em;
    font-weight: normal;
    margin-top:0;
  }

  h3 {
    font-size: 1em;
    margin-bottom: 4px;
    a {
      color: #A0C7E9;
      font-size: 1em;
      text-decoration: none;
    }
  }

  p {
    color: #000;
    font-size: 0.8em;
    text-align: justify;
    margin: 3px 0 5px;
  }
}